* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    height: 100%;
    width: 100%;

}

.clearfix {
    overflow: auto;
}

.container {
    display: block;
    width: 1024px;
    margin: 0 auto;

}

.header-wrapper {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.header {
    height: 65px;

}

.header-logo {
    display: block;
    float: left;
}

.header-logo > img {
    width: 150px;
    padding: 8px 0;
}

ul.header-nav {
    float: right;
    padding: 3px 0;
    margin: 0;
    list-style-type: none;
}
ul.header-nav > li {
    display: inline-block;
}
ul.header-nav > li > a {
    color: #8f969d;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    padding: 19px 10px;
}
ul.header-nav > li > a:hover{
    color: black;
}

ul.header-nav > li.header-nav-cta > a {
    background-color: #ff6622;
    border: none;
    border-radius: 30px;
    padding: 11px 35px;
    color: #fff;
}
ul.header-nav > li.header-nav-cta > a:hover {
    background-color: black;
}
.header-product {
    position: relative;
    background: url(../img/BackFon.jpg) center no-repeat;
    height: 1000px;
    padding: 0 0;
    text-align: center;

}

.product-title {
    color: #374048;
    font-size: 79px;
    padding-top: 10px;

}

.product-description {
    color: #8a9095;
    font-size: 27px;
    padding: 0 130px;
    line-height: 44px;

}

.product-cta {
    display: inline-block;
    background-color: #2fca2d;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 27px;
    padding: 20px 70px;
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 30px;

}

.product-cta:hover {
    background-color: #337ab7;
}

.product-image {
    position: absolute;
    width: 290px;
    height: 328px;
    bottom: 40px;
    left: 50%;
    margin: 0 0 90px -115px;
}

.section {
    width: 100%;
    background-color: #fff;
}

.section.section-dark {
    background-color: #f8b8fbfb;
}

.section .section-title {
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 29px;
    text-transform: uppercase;
    color: #374848;
    text-align: center;

}

.section .section-description {
    width: 700px;
    margin: 0 auto 60px auto;
    padding-bottom: 60px;
    font-size: 20px;
    color: #969da3;
    line-height: 32px;
    text-align: center;
}

.section .section-description::after {
    content: "";
    width: 80px;
    height: 4px;
    position: absolute;
    bottom: calc(30px - 2px);
    left: calc(50% - (80px / 2));

}

.product-section {
}

.product-section .product-section-watch {
    position: relative;
    width: 347px;
    height: 499px;
    margin: 100px auto;

    background: url("../img/apple-watch-2.png");
    background-position: center;
    background-repeat: no-repeat;
}

.product-section .product-section-watch > .watch-tip {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    padding: 5px;
    text-align: center;
    border-radius: 50%;
    background-color: #0084ff;
    color: #fff;
}

.product-section .product-section-watch > .watch-tip:hover::before {
    content: "";
    position: absolute;
    top: -7px;
    left: -7px;
    width: 40px;
    height: 40px;
    border: 3px solid #2fca2d;
    border-radius: 50%;
    cursor: pointer;
}

.product-section .product-section-watch > .watch-tip:nth-child(1) {
    top: 40px;
    right: 18px;
    left: initial;
}

.product-section .product-section-watch > .watch-tip:nth-child(2) {
    top: 140px;
    left: -10px;
}

.product-section .product-section-watch > .watch-tip:nth-child(3) {
    top: 250px;
    left: 225px;
}

.product-section .product-section-watch > .watch-tip:nth-child(4) {
    top: initial;
    bottom: 95px;
    left: 5px;
}

.hiw-section {
    background-color: #f8fbfd;
}

.hiw-steps {
    position: relative;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

}

.hiw-steps > .hiw-step {
    position: relative;
    float: left;
    width: 33.3333333333333333333%;
    padding: 0 20px;
}

.hiw-steps > .hiw-step > .hiw-step-image {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}


.hiw-steps > .hiw-step > .hiw-step-title {
    color: #374048;
    font-size: 26px;
    margin-bottom: 10px;
}
.hiw-steps > .hiw-step > .hiw-step-description {
    color: #737c85;
    font-size: 16px;
    line-height: 26px;
}

.hiw-steps > .hiw-step > .hiw-step-arrow {
    display: block;
    position: absolute;
    top: 30px;
    right: -5px;
    width: 20px;
    height: 20px;
    border-top: 2px solid #637281;
    border-right: 2px solid #637281;
    transform: rotate(45deg);
}

@font-face {
    font-family: "Flaticon";
    src: url("../fonts/font/Flaticon.eot");
    src: url("../fonts/font/Flaticon.eot#iefix") format("embedded-opentype"),
    url("../fonts/font/Flaticon.woff") format("woff"),
    url("../fonts/font/Flaticon.ttf") format("truetype"),
    url("../fonts/font/Flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.flaticons {
    font-family: "Flaticon", sans-serif;
    display: inline-block;
    font-style: normal;
    font-size: 35px;
    color: #0f33ff;
    position: absolute;
    top: 30px;
    left: 3px;
}
.icon-loc:before {
    content: "\f113";
}
.icon-heart:before {
    content: "\f110";
}
.icon-sec:before {
    content: "\f114";
}
.icon-idea:before {
    content: "\f122";
}
.icon-save:before {
    content: "\f100";
}
.icon-tec:before {
    content: "\f104";
}
.icon-key:before {
    content: "\f121";
    top: -28px;
    left: -7px;
    position: absolute;
    font-size: 30px;
}
.icon-voice:before {
    content: "\f101";
    top: -28px;
    left: -7px;
    position: absolute;
    font-size: 30px;
}
.icon-apps:before {
    content: "\f108";
    top: -28px;
    left: -7px;
    position: absolute;
    font-size: 30px;
}
.icon-stay:before {
    content: "\f112";
    top: -28px;
    left: -7px;
    position: absolute;
    font-size: 30px;
}
.icon-des:before {
    content: "\f12a";
    top: -28px;
    left: -7px;
    position: absolute;
    font-size: 30px;
}
.icon-time:before {
    content: "\f12e";
    top: -28px;
    left: -7px;
    position: absolute;
    font-size: 30px;
}

.tb-section {
    position: relative;
    display: block;
    list-style: none;
    margin: 0;
    padding: 100px;
    text-align: left;
}


.tb-steps {
    position: relative;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

}

.tb-steps > .tb-step {
    float: left;
    width: 33.333333%;
    padding: 5px;
    position: relative;
}

.tb-steps > .tb-step > .tb-step-title {
    color: #374048;
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 50px;
}
.tb-steps > .tb-step > .tb-step-description {
    color: #82898f;
    font-size: 14px;
    line-height: 26px;
    padding-left: 50px;
}
.watch {
    background-color: #f8fbfd;
}
.row {
    display: block;
    margin-bottom: 20px;
    padding-bottom: 30px;
}
.column {
    display: block;
    width: 33.333333%;
    padding: 5px;
    position: relative;
    float: left;
}
.column > .columnsteps {
    positon: relative;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.column > .columnsteps > .columnstep {
    position: relative;
}
.column > .columnsteps > .columnstep > .column-title {
    color: #374048;
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 45px;
}
.column > .columnsteps > .columnstep > .column-description {
    color: #82898f;
    font-size: 14px;
    line-height: 26px;
    padding-left: 45px;
}
.column > .column-image {
    padding-left: 17px;
}

.collection {}
.collection-steps {
    position: relative;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.collection-steps > .collection-step {
    float: left;
    width: 25%;
    padding: 20px;
    position: relative;
    text-align: center;
}
.collection-steps > .collection-step > .collection-img {
    display: block;
    width: 230px;
    height: 230px;
    vertical-align: middle;
    text-align: center;
}
.collection-steps > .collection-step > .collection-title {
    color: #0084ff;
    font-size: 16px;
    margin: 5px auto 0 auto;
}
.collection-steps > .collection-step > .collection-description {
    color: #b4bcc3;
    font-size: 13px;
    margin: 2px auto;
}
.collection-steps > .collection-step > .collection-price {
    color: #ff6622;
    font-size: 19px;
    padding: 10px auto;
}
.collection-steps > .collection-step > .collection-button {
    text-decoration: none;
    border-radius: 30px;
    padding: 5px 20px;
    border: 1px solid gray;
    color: #969da3;
    text-transform: uppercase;
    font-size: 12px;
}
.collection-steps > .collection-step > .collection-button:hover {
    background-color: #374048;
    color: #fff;
}

