* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: sans-serif;
    height: 100%;
    width: 100%;

}
.clearfix {
    overflow: auto;
}
.container {
    display: block;
    width: 1024px;
    margin: 0 auto;

}
.header-wrapper {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.header {
    height: 60px;
    overflow: hidden;

}
.header-logo {
    display: block;
    float: left;
    padding: 2px 0;

}
ul.header-nav {
    float: right;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
ul.header-nav > li {
    display: inline-block;
}
ul.header-nav > li > a {
    display: inline-block;
    padding: 19px 10px;
    color: #8f969d;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}
ul.header-nav > li > a:hover {
    color: black;
}
.header-nav > li.header-nav-cta > a {
    background-color: #2fca2d;
    border-radius: 20px;
    padding: 11px 30px;
    color: #fff;
}

.product {
    position: relative;
    background: url(../img/BackFon.jpg) center no-repeat;
    height: 1000px;
    padding: 0 0;
    text-align: center;

}
.product-title {
    color: #374048;
    font-size: 79px;
    padding-top: 10px;

}
.product-description {
    color: #8a9095;
    font-size: 27px;
    padding: 0 130px;
    line-height: 44px;


}
.product-cta {
    display: inline-block;
    background-color: #2fca2d;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 27px;
    padding: 20px 70px;
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 30px;

}
.product-cta:hover {
    background-color: #337ab7;
}
.product-image {
    position: absolute;
    width: 290px;
    height: 328px;
    bottom: 40px;
    left: 50%;
    margin: 0 0 90px -115px;
}